.btn-gradient {
    color: #fff;
    background: linear-gradient(to right, #0ccbbb, #0c88cb);
    border-color: transparent;
}
.btn-gradient:hover {
    color: #fff;
    background: linear-gradient(to right, #1accbd, #35a8e7);
    border-color: transparent;
}
.btn-check:focus + .btn-gradient, .btn-gradient:focus {
    color: #fff;
    background-color: transparent !important;
    border-color: transparent !important;
}
.btn-check:checked + .btn-gradient, .btn-check:active + .btn-gradient, .btn-gradient:active, .btn-gradient.active, .show > .btn-gradient.dropdown-toggle {
    color: #fff;
    background: linear-gradient(to right, #0ccbbb, #0c88cb);
    border-color: transparent !important;
}
.btn-check:checked + .btn-gradient:focus, .btn-check:active + .btn-gradient:focus, .btn-gradient:active:focus, .btn-gradient.active:focus, .show > .btn-gradient.dropdown-toggle:focus {
    box-shadow: none !important;
}
.btn-gradient:disabled, .btn-gradient.disabled {
    color: #fff;
    background-color: #6c757d;
    border-color: #6c757d;
}
